<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locata">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LocataApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Locata"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.main.view.authentication.DriveRegister2Activity"></activity>
        <activity android:name=".ui.main.view.authentication.DriveRegisterActivity" />
        <activity android:name=".ui.main.view.splash.SplashActivity2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.main.view.main.HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.main.view.authentication.RegisterActivity" />
        <activity android:name=".ui.main.view.authentication.LoginActivity" />
        <activity android:name=".ui.main.view.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>